
.transbox {
    margin: 15px;
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.transbox p {
    margin: 3%;
    font-weight: bold;
    color: #000000;
}
.transbox h {
    margin: 3%;
    font-weight: bold;
    color: #000000;
}
@media screen{
#background{
    position:fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background-repeat:no-repeat;
}
}
#background img{
    width:100%;
    height:100%;
}
body,html 
{
  padding: 0px;
  margin: 0px;
  border: none;
  width: 100%;
  height: 100%;
  background-color:black;
}

#video1{
    padding-top: 80px;
}
#intro p{
    font-size:150%;
}
#title{
    /*padding-right: 120px;*/
    color: white; text-shadow: black 1.3em 0.10em 1.0em;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
      padding-top:100px;
    color:white;
    font-family: 'Lobster', cursive;
    
    
}
h3 ,h4 {
    text-align:center;
}

